* {
    box-sizing: border-box;
}

/*TYPE SELECTORS*********/
h1 {
    font-size: 2em;
}
h2 {
    text-align: center;
    text-decoration: underline;
}
li {
    list-style: none;
}
div p {
    text-align:center;
    font-weight: bold;
    font-size: 1.7em;
}

/*CLASSES***************/

.main-header {
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    background: linear-gradient(to bottom, transparent 55%, white),
                url("../img/koh.jpg");     
    background-size: 100% 100%;
    text-align: center;
    min-height: 400px;
    margin: 0 0 50px;
    font-weight: bold;
    padding-top: 45px;
    text-shadow: 5px 8px 10px;
    font-size: 2em;
}
.pics {
    text-align: center;
}

.gallery {
    max-width: 30%;
    display: inline-block;
    margin: 0 auto;
    padding: 3%;
    position: relative;
    
}
 /*FLOATS***********/
 .right {
     float: right;
 }
 .left {
     float: left;
 }
 .center {
     text-align: center;
     display: inline-block;
     margin: 0 auto;
 }
 

/*MEDIA QUERIES******/

@media (max-width: 768px) {
    .main-header {
        font-size: 1.5rem;
        min-height: 300px;
    }
}

