* {
    box-sizing: border-box;
}

/*TYPE SELECTORS*********/

h1 {
    font-size: 2em;
}
h2 {
    text-align: center
}
li {
    list-style: none;
}
div p {
    text-align:center;
    font-weight: bold;
    font-size: 1.7em;
}
footer {
    padding-top: 5px;
    display: inline-block;
    background: rgb(20, 20, 20);
    color: white;
    width: 100%;
    max-height: 50px;
    bottom: 0;

}
footer p {
    display: inline-block;
    float: left;
    
}
body{
    text-align: center;
}

/*CLASSES***************/

.main-header {
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    background: linear-gradient(to bottom, transparent 55%, white),
                url("../img/koh.jpg");     
    background-size: 100% 100%;
    text-align: center;
    min-height: 400px;
    margin: 0 0 50px;
    font-weight: bold;
    padding-top: 45px;
    text-shadow: 5px 8px 10px;
    font-size: 1.9em;
}
.pics {
    text-align: center;
}

.gallery {
    max-width: 30%;
    display: inline-block;
    margin: auto auto;
    padding: 3%;
    position: relative;
    
}
.social {
    width: 40px;
    height: 30px;
    float: right;
    padding: 0px 5px;
}
.main {
    border-top: 1px solid grey;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.goals,
.status {
    font-family: "Candal", sans-serif;
    display: inline-block;
    width: 40%;
    margin: 30px;
    box-shadow:0 3px 8px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin-top: 0;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    line-height: 2em;
    color: red;
}
.goals p,
.status p {
    font-size:1.7rem;
}
.status {
    background-image: url("../img/space.jpg");
    background-size: 100% 100%;
}
.goals {
    background-image: url("../img/sunset.jpg");
    background-size: 100% 100%;
    
}


/*MEDIA QUERIES******/

@media (max-width: 800px) {
    .main-header {
        font-size: 1.5rem;
        min-height: 300px;
        padding-top: 10px;
    }
    .goals,
    .status {
        width: 90%;
        height: 420px;
        font-size: 1.3rem;
    }
}
@media (max-width:398px) {
    .gallery {
        display: block;
        max-width: 90%;
        padding: 0;
        margin: 0 auto;
    }
    .goals,
    .status {
        display: block;
        width: 90%;
        font-size: .6em;
        line-height: 1;
        height: 300px;
        margin: 15px auto;
        
    }
    .main-header p {
        font-size: 1.8rem;
    }
    footer p {
        font-size: 1.3rem;
    }
}
@media (max-width:414px){
    .status,
    .goals {
        height: 450px;
        font-size: 1.1rem;
    }
}
    


/*CLEARFIX******/

.clearfix:after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
