* {
    box-sizing: border-box;
}

/*TYPE SELECTORS*********/
h1 {
    font-size: 2em;
}
h2 {
    text-align: center;
}
li {
    list-style: none;
}
div p {
    text-align:center;
    font-weight: bold;
}

/*CLASSES***************/

.main-header {
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    background: linear-gradient(to bottom, transparent 65%, white),
                url("../img/koh.jpg");     
    background-size: 100% 100%;
    text-align: center;
    min-height: 400px;
    margin: 0 0 50px;
    font-weight: bold;
    padding-top: 45px;
    text-shadow: 5px 8px 10px;
    font-size: 2em;
}

.profile-pic {
    max-height:275px;
    max-width: 275px;
    border-radius: 50% 50%;
    border: 5px solid grey;

}
div.gallery {
    float: left;
    margin: 4px;
    box-shadow: inset 5px 5px 10px;
}

